<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs')%>
</head>
<body>
    
    <h1><%= title %></h1>


    
    
    
    
    <%- include('partials/footer.ejs')%>
    
    
    
    <script src="js/main.js"></script>    
</body>
</html>
